
.international_btn{
    padding: 10px 30px 10px 30px;
    border-radius: 50px;
    background: #246BFD;
    font-size: 16px;
    font-weight: 700;
    line-height: 22.4px;
    color: #ffffff;
    letter-spacing: 0.2px;
    border: none;
    outline: none;
  }
  
  .international_btn:hover{
    color: #fff;
    background-color: #2d2d2d;
  }
  
  @media (max-width: 850px) {
    .international_btn{
        font-size: 14px;
        padding: 8px 20px;
    }
  }
  
  /* @media (max-width: 450px) {
    .international_btn{
        font-size: 12px;
        padding: 8px 15px
    }
  } */